/* GtkLabel */
label {
    color: red;
    background-color: transparent;
    font: 20px Sans;
}

/* GtkSpinner - spinner */
spinner {
    color: blue;
    background-color: gray;
}

/* GtkButton */
.text-button {
    border-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: grey;
    background-image: none;
    background-color: rgb(211, 211, 211);
}

/* GtkButton GtkLabe */
.text-button label {
    color: green;
}

/* GtkButton */
.button-ligt-gray {
    border-image: none;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: black;
    background-image: none;
    background-color: aqua;
}

button:hover:active {
    border-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: grey;
    background-image: none;
    background-color: orange;
    color: cyan;
}

/* GtkToggleButton */
.toggle:checked {
    background-color:red;
}

/* GtkSwitch */
switch:checked {
    background-color:burlywood;
}

/* GtkTextView */
textview.view text {
    color: royalblue;
}
